Arrays (Lists)
1. Create a List: Ask the user to input 10 natural numbers and store them in a list. Print the
list.
2. List Indexing: Given a list of numbers [10, 20, 30, 40, 50], access and print the
third element.
3. List Slicing: Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], slice the list
to get the first 5 elements and print them.
4. Append to List: Append the color &#39;purple&#39; to the list of colors [&#39;red&#39;, &#39;blue&#39;,
&#39;green&#39;] and print the updated list.
5. Extend List: Extend the list of fruits [&#39;apple&#39;, &#39;banana&#39;] with another list
[&#39;cherry&#39;, &#39;date&#39;] and print the updated list.
6. Insert into List: Insert the number 15 at the second position in the list [10, 20, 30]
and print the updated list.
7. Remove from List: Remove the first occurrence of the element &#39;banana&#39; from the list
[&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;, &#39;banana&#39;] and print the updated list.
8. Pop from List: Pop the last element from the list [1, 2, 3, 4, 5], print the popped
element, and the updated list.
9. Reverse List: Reverse the list [1, 2, 3, 4, 5] and print the reversed list.
10. Sort List: Sort the list of names [&#39;John&#39;, &#39;Alice&#39;, &#39;Bob&#39;] in alphabetical order and
print the sorted list.
11. List Comprehension: Create a list of squares of the first 10 natural numbers using list
comprehension and print the list.
12. Find Max and Min: Find the maximum and minimum values in the list [4, 2, 8, 6,
5] and print them.
13. Sum of Elements: Calculate the sum of all elements in the list [4, 2, 8, 6, 5] and
print it.
14. Product of Elements: Calculate the product of all elements in the list [1, 2, 3, 4] and
print it.
15. Remove Duplicates: Remove duplicate elements from the list [1, 2, 2, 3, 4, 4, 5]
and print the updated list.
16. List of Even Numbers: Create a list of even numbers from the given list [1, 2, 3, 4,
5, 6, 7, 8, 9, 10] and print it.
17. List to String: Convert the list of characters [&#39;H&#39;, &#39;e&#39;, &#39;l&#39;, &#39;l&#39;, &#39;o&#39;] to a string
and print it.
18. String to List: Convert the string &quot;Hello&quot; to a list of characters and print it.
Tuples
19. Create a Tuple: Create a tuple with different data types (e.g., integer, float, string) and
print it.
20. Access Tuple Elements: Given a tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;), access and print the
second element.
21. Unpack Tuple: Unpack the tuple (1, 2, 3) into three variables and print them.
22. Concatenate Tuples: Concatenate the tuples (1, 2) and (3, 4) and print the result.
23. Repeat Tuple: Repeat the tuple (1, 2, 3) three times and print the result.

24. Tuple Slicing: Slice the tuple (1, 2, 3, 4, 5) to get the last three elements and print
them.
25. Check Element in Tuple: Check if the element &#39;b&#39; exists in the tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;)
and print the result.
26. Count Tuple Elements: Count the occurrences of the element 2 in the tuple (1, 2, 2,
3, 4) and print the result.
27. Index of Element in Tuple: Find the index of the element &#39;c&#39; in the tuple (&#39;a&#39;, &#39;b&#39;,
&#39;c&#39;, &#39;d&#39;) and print it.
28. Convert Tuple to List: Convert the tuple (1, 2, 3) to a list and print it.
29. Convert List to Tuple: Convert the list [1, 2, 3] to a tuple and print it.
30. Nested Tuples: Create a nested tuple ((1, 2), (3, 4), (5, 6)) and print the first
element of the second tuple.

In [8]:
# Asking user to input 10 natural numbers
numbers = []
for i in range(10):
    number = int(input(f"Enter natural number {i+1}: "))
    numbers.append(number)
print("List of numbers:", numbers)

Enter natural number 1: 1
Enter natural number 2: 2
Enter natural number 3: 3
Enter natural number 4: 4
Enter natural number 5: 5
Enter natural number 6: 6
Enter natural number 7: 7
Enter natural number 8: 8
Enter natural number 9: 9
Enter natural number 10: 10
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
numbers = [10, 20, 30, 40, 50]
print("Third element:", numbers[2])

Third element: 30

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
first_five = numbers[:5]
print("First 5 elements:", first_five)

First 5 elements: [1, 2, 3, 4, 5]

In [11]:
colors = ['red', 'blue', 'green']
colors.append('purple')
print("Updated colors list:", colors)

Updated colors list: ['red', 'blue', 'green', 'purple']

In [12]:
fruits = ['apple', 'banana']
more_fruits = ['cherry', 'date']
fruits.extend(more_fruits)
print("Updated fruits list:", fruits)

Updated fruits list: ['apple', 'banana', 'cherry', 'date']

In [13]:
numbers = [10, 20, 30]
numbers.insert(1, 15)
print("Updated list:", numbers)

Updated list: [10, 15, 20, 30]

In [14]:
fruits = ['apple', 'banana', 'cherry', 'banana']
fruits.remove('banana')
print("Updated list after removing 'banana':", fruits)

Updated list after removing 'banana': ['apple', 'cherry', 'banana']

In [15]:
numbers = [1, 2, 3, 4, 5]
popped_element = numbers.pop()
print("Popped element:", popped_element)
print("Updated list:", numbers)

Popped element: 5
Updated list: [1, 2, 3, 4]

In [16]:
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [5, 4, 3, 2, 1]

In [17]:
names = ['John', 'Alice', 'Bob']
names.sort()
print("Sorted names:", names)

Sorted names: ['Alice', 'Bob', 'John']

In [18]:
squares = [i**2 for i in range(1, 11)]
print("List of squares of first 10 natural numbers:", squares)

List of squares of first 10 natural numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
my_tuple = (42, 3.14, "Python")
print("Tuple with different data types:", my_tuple)

Tuple with different data types: (42, 3.14, 'Python')

In [20]:
my_tuple = ('a', 'b', 'c', 'd')
print("Second element of tuple:", my_tuple[1])

Second element of tuple: b

In [21]:
my_tuple = (1, 2, 3)
x, y, z = my_tuple
print("Unpacked elements:", x, y, z)

Unpacked elements: 1 2 3

In [22]:
tuple1 = (1, 2)
tuple2 = (3, 4)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4)

In [23]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[-3:]
print("Last three elements of tuple:", sliced_tuple)

Last three elements of tuple: (3, 4, 5)

In [25]:
my_tuple = ('a', 'b', 'c')
print("Is 'b' in tuple?", 'b' in my_tuple)

Is 'b' in tuple? True

In [26]:
my_tuple = (1, 2, 2, 3, 4)
count_of_two = my_tuple.count(2)
print("Count of 2 in tuple:", count_of_two)

Count of 2 in tuple: 2

In [27]:
my_tuple = ('a', 'b', 'c', 'd')
index_of_c = my_tuple.index('c')
print("Index of 'c' in tuple:", index_of_c)

Index of 'c' in tuple: 2